<nav class="nav navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['get-ingredients']">Smart Refrigerator System</a>
    </div>
    <ul class="nav navbar-nav navbar-right" *ngIf="isGetIngredients()">
      <li class="active"><a>Get Ingredients</a></li>
      <li><a [routerLink]="['order-meal']">Order Meal</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isOrderMeal()">
      <li><a [routerLink]="['get-ingredients']">Get Ingredients</a></li>
      <li class="active"><a>Order Meal</a></li>
      <li><a (click)="logout()">Logout</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isOther()">
      <li><a [routerLink]="['get-ingredients']">Get Ingredients</a></li>
      <li><a [routerLink]="['order-meal']">Order Meal</a></li>
      <li><a (click)="logout()">Logout</a> </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
