<div class="container">
  <h2>Meal: {{meal.name}}</h2>
  <table class="meal-info-table table">
    <tr>
      <th>Cuisine</th>
      <td>{{meal.cuisine}}</td>
      <td>
        <button class="btn btn-primary btn-xs">
          Edit
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{meal.description}}</td>
      <td>
        <button class="btn btn-primary btn-xs">
          Edit
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </td>
    </tr>
    <tr>
      <th>Ingredients</th>
      <td>
        <table class="ingr-table">
          <tr>
            <th></th>
            <th>Required</th>
            <th>Available</th>
          </tr>
          <tr *ngFor="let ingredient of meal.ingredients">
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.count}}</td>
            <td>{{ingredient.count_available}}</td>
          </tr>
        </table>
      </td>
      <button class="btn btn-primary btn-xs">
        Edit
        <span class="glyphicon glyphicon-edit"></span>
      </button>
    </tr>
  </table>
  <div class="text-right">
    <button class="btn btn-danger" (click)="deleteMeal()">
      Delete
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</div>
