<div class="container">
  <h2>Inventory</h2>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Meals">
    <div class="input-group-btn">
      <button class="btn btn-primary search-button">Search</button>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let meal of this.meals; let i = index" id="row-{{i}}">
      <td><a [routerLink]="['../meal-info', meal.id]">{{meal.name}}</a></td>
      <td>{{meal.cuisine}}</td>
      <td>{{meal.description}}</td>
      <td>{{meal.price | currency: 'USD':true:'1.2-2'}}</td>
      <td class="modify-btn-group">
        <button class="btn btn-danger btn-xs" (click)="deleteMeal(meal)">
          Delete
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </table>
  <div class="text-right right-button">
    <button class="btn btn-success" [routerLink]="['../new-meal']">Add Meal</button>
  </div>
</div>
