#login-wrapper{
  padding-top: 25px;
}
#login-wrapper .intro{
  padding-bottom: 25px;
}
.input-box{
  background-color: #efefef;
  padding: 20px;
}
.submit-button{
  padding-left: 50px;
  padding-right: 50px;
}
.error li{
  color: red;
}
input.ng-dirty.ng-invalid{
  border: 1px solid red;
}
