<div class="container">
  <h2>Change Roles of Users</h2> <br>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Search Users">
    <div class="input-group-btn">
      <button class="btn btn-primary search-button" >Search</button>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>User Id</th>
      <th>name</th>
      <th>email</th>
      <th>ROLE</th>
    </tr>
    <!--<tr *ngFor="#user of displayUsers() | keys">-->
      <!--user: {{user.name}}, {{user.id}}, {{user.role}}-->
    <!--</tr>-->
    <tr *ngFor="let user of getPaginatedResults()">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>
        <button class="btn btn-sm btn-primary " (clik)="makeChef(user)" *ngIf="user.role != 'chef'">Make Chef</button>
        <button class="btn btn-sm btn-primary" (click)="makeUser(user)" *ngIf="user.role != 'user'">Make User</button>
        <button class="btn btn-sm btn-primary" (click)="makeAdmin(user)" *ngIf="user.role != 'admin'">Make Admin</button>
        <!--
        <input #{{user.id}}  [(ngModel)]="user.selected" type="checkbox" (change)="checkbox(user)">
        -->
      </td>
    </tr>

  </table>
  <ul class="pagination pagination-sm">
    <li *ngFor="let i of totalPageCount()" [ngClass]="{active: i === currentPage}" (click)="currentPage=i;"><a>{{i}}</a></li>
  </ul>


</div>

